html, body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	margin: 0;
	padding: 0;
	color: #333;
}
body {
	padding: 3rem;
	font-size: 0.85rem;
}
header {
	display: flex;
	align-items: center;
}
#title {
	font-weight: 100;
	font-size: 2rem;
	color: #555;
	margin: 0;
	flex-grow: 1;
}
#logo {
	height: 4rem;
}
#metadata-container {
	display: flex;
	padding-bottom: 1rem;
	padding-top: 2rem;
	margin-bottom: 1rem;
	font-size: 1rem;
	border-bottom: 1px solid #eee;
}
#timestamp {
	font-weight: bold;
	color: #999;
	margin-bottom: 0.5rem;
	order: 1;
	flex-grow: 1;
	text-align: right;
}
#summary {
	color: #999;
	margin-bottom: 1rem;
	order: 0;
	flex-grow: 2;
}
.suite-info {
	padding: 1rem 0;
	color: #555;
	display: flex;
	align-items: center;
	font-size: 1rem;
	margin-bottom: 0.5rem;
}
.suite-info .suite-path {
	word-break: break-all;
	flex-grow: 1;
	font-weight: bold;
}
.suite-info .suite-time {
	margin-left: 0.5rem;
	padding: 0.2rem 0.3rem;
	font-size: 0.75rem;
}
.suite-info .suite-time.warn {
	background-color: #D8000C;
	color: #fff;
}
.suite-table {
	width: 100%;
	font-size: 0.85rem;
	margin-bottom: 2em;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}
.suite-table tr.passed {
	color: #2ab156;
}
.suite-table tr.passed td.suite {
	border-left: 0.5rem solid #2ab156;
}

.suite-table tr.pending {
	color: #efc52e;
}
.suite-table tr.pending td.suite {
	border-left: 0.5rem solid #efc52e;
}

.suite-table tr.failed {
	color: #e6636b;
}
.suite-table tr.failed td.suite {
	border-left: 0.5rem solid #e6636b;
}

.suite-table td {
	padding: 1rem;
	font-size: 0.85rem;
	vertical-align: top;
}
.suite-table td.suite {
	font-weight: bold;
	width: 20%;
}
.suite-table td.test {
	font-style: italic;
	width: 60%;
}
.suite-table td.test .failureMsg {
	font-size: 1rem;
	border-top: 0.2rem solid #e6636b;
	padding-top: 1rem;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
.suite-table td.result {
	width: 20%;
	text-align: right;
}

/* CONSOLE LOGS */
.suite-consolelog {
	margin-bottom: 2rem;
	padding: 1rem;
	border-left: 0.5rem solid #666;
	color: #666;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}
.suite-consolelog-header {
	font-weight: bold;
}
.suite-consolelog-item {
	padding: 0.5rem;
}
.suite-consolelog-item pre {
	margin: 0;
}
.suite-consolelog-item-origin {
	color: #aaa;
	font-weight: bold;
}
.suite-consolelog-item-message {
	font-size: 1rem;
	padding: 0 0.5rem;
}

/* Owen's over-rides */

body {
  padding: 2rem;
}

header,
#metadata-container,
.suite-info,
.result {
  display: none;
}

.suite-table {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
}

.suite-table tr.passed {
  color: #555;
}

.suite-table tr.passed td.suite {
  border-left: 0;
}